{% extends 'base.html' %}
{% load static %}

{% block title %}DEX{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<main>
    <div class="titles">
        <h2><strong>D</strong>eveloper <strong>EX</strong>plorer</h2>
        <h3>Pesquise e Crie seu Mapa de Estudos</h3>
    </div>
    <form method="GET" action="{% url 'core:search' %}" class="search-form">
        <input type="text" class="search-input" name="search" placeholder="DEXplore...">
        <button type="submit" class="search-btn"><i class="search-icon" data-lucide="search-code"></i></button>
    </form>
    <div class="containers">
        <div class="container">
            <h2 class="h2">O que é:</h2>
            <p class="text">{{data.what_is}}</p>
        </div>
        <div class="container">
            <h2 class="h2">Como funciona:</h2>
            <p class="text">{{data.how_it_works}}</p>
        </div>
        <div class="container code-cointaner">
            <h2 class="h2">Código Exemplo:</h2>
            <pre>
                <code>
                    {{data.code_example}}
                </code>
            </pre>
        </div>
        <div class="container">
            <h2 class="h2">Quando usar:</h2>
                <p class="text">{{when_to_use}}</p>
        </div>
    </div>
    <footer>
        <p class="copyright">DEX © 2026 — Open Source</p>
    </footer>
</main>
{% endblock %}