{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/forms.css' %}"> {% endblock %}
{% block content%}
{% include "navbar.html" %}
<main>
    <div class="title-logo">
        <div class="img-wrapper">
            <img src="{% static 'images/dex-logo.png' %}" class="dex-logo" alt="DEX Logo">
        </div>
            <h2 class="title">Login</h2>
    </div>
    <form action="{% url 'core:login' %}" method="POST" class="login-form">
        {% csrf_token %}
        <div class="inputs-labels">
            <label for="username"><i class="label-icon" data-lucide="user-star"></i></label>
            <input type="text" class="login-input" name="username" id="username" required placeholder="Seu Username">
        </div>
        <div class="inputs-labels">
            <label for="password"> <i class="label-icon" data-lucide="key"></i></label>
            <input type="text"  class="login-input" name="password" id="password" required placeholder="Sua Senha">
        </div>
        <button type="submit" class="login-btn"><i class="login-icon" data-lucide="power"></i> </button>
    </form>
    <footer>
        <p class="copyright">DEX © 2026 — Open Source</p>
    </footer>
</main>
{% endblock %}