{% load static %}
<header>
    <div class="img-wrapper">
        <img src="{% static 'images/dex-logo.png' %}" class="dex-logo" alt="DEX Logo">
    </div>
    <nav class="navbar">
        <span class="username">@gattini0928</span>
        <div class="nav-link-icon">
            <i class="icon" data-lucide="user"></i> 
            <a href="" class="nav-link">Perfil</a>
        </div>
        <div class="nav-link-icon">
            <i class="icon" data-lucide="log-out"></i>  
            <a href="" class="nav-link">Logout</a>
        </div>
    </nav>
</header>