main {
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.titles {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    flex-direction:column;
}

h2 {
    font-size: 2rem;
}

strong {
    color: #006f51;
}

h3 {
    font-size: 1.8rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.search-input {
    width: 50%;
    color: #dfdfd6;
    background-color: #1b1b1e;
    transition: all 0.3s ease-in-out;
    border-bottom: solid 1px #20C7A1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.4rem;
}

.search-input {
    color: #dfdfd6;
}

.search-input:hover,
.search-input:focus {
    background-color: #26262a;
}

.search-btn {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #1b1b1e;
    border-bottom: solid 1px #20C7A1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.search-icon {
    color: #20C7A1;
}

.h2 {
    color: #2cba94;
    align-self: flex-start;
    font-style: italic;
    margin-bottom: 0.7rem;
}

.containers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.container {
    background-image: linear-gradient(to right, rgb(22, 22, 22), rgb(47, 46, 46));
    width: 80%;
    padding: 2rem;
    border-bottom: solid 1px #006f51;
    border-radius: 0.4rem;
    padding: 2rem;
}

pre {
    font-family: "JetBrains Mono", monospace;
    color: #af7cfcd5;
    background-color: #1b1b1e;
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.4rem;
    overflow-x: auto;
    align-items: flex-start;
}

code {
    font-family: "JetBrains Mono", monospace;
}

.copyright {
    color: #2cba94;
    font-style:italic;
    font-weight: bold;
}


