main {
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.containers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.container {
    background-image: linear-gradient(to right, rgb(22, 22, 22), rgb(47, 46, 46));
    width: 80%;
    padding: 2rem;
    border-bottom: solid 1px #006f51;
    border-radius: 0.4rem;
    padding: 2rem;
}

pre {
    font-family: "JetBrains Mono", monospace;
    color: #af7cfcd5;
    background-color: #1b1b1e;
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.4rem;
    overflow-x: auto;
    align-items: flex-start;
}

code {
    font-family: "JetBrains Mono", monospace;
}

.copyright {
    color: #2cba94;
    font-style:italic;
    font-weight: bold;
}